<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
  <a class="navbar-brand">Welcome To My Friend App!</a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn" routerLink="/friend">Friend<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">Contact Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn" (click)="onLogout()">[Logout]</a>
      </li>
    </ul>
  </div>
</nav>