<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
  <a class="navbar-brand">Welcome To My Friend App!</a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friend">Friend<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>