<h4>Contact Me</h4>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
      <form>
        <div class="form-group">
          <label for="username">Your name:</label>
          <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label for="useremail">Your Email:</label>
          <input type="text" class="form-control" id="useremail">
        </div>
        <div class="form-group">
          <label for="usermessage">Your Message:</label>
          <input type="text" class="form-control" id="usermessage">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>