<!-- <h4>Contact Me</h4>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Your name:</label>
          <input type="text" class="form-control" id="username" [formControlName]="username">
          <span class="help-block" *ngIf="!contactForm.get('username').valid && contactForm.get('username').touched">
            <span *ngIf="contactForm.get('username').errors['required']">This field is required!</span>
          </span>
          <span *ngIf="!contactForm.get('username').errors['required'] && contactForm.get('username').errors['blankSpaces']">Empty spaces are not accepted.</span>
        </div>
        <div class="form-group">
          <label for="useremail">Your Email:</label>
          <input type="text" class="form-control" id="useremail" [formControlName]="useremail">
          <span class="help-block" *ngIf="!contactForm.get('useremail').valid && contactForm.get('useremail').touched">
            <span *ngIf="contactForm.get('useremail').errors['required']">This field is required!</span>
          </span>
          <span *ngIf="!contactForm.get('useremail').errors['required'] && contactForm.get('useremail').errors['blankSpaces']">Invalid email!</span>
          <span *ngIf="!contactForm.get('useremail').errors['emailBlackListed']">This email is Forbidden.</span>
        </div>
        <div class="form-group">
          <label for="usermessage">Your Message:</label>
          <textarea type="text" class="form-control" id="usermessage" rows="5" [formControlName]="'usermessage'"></textarea>
          <span class="help-block" *ngIf="!contactForm.get('usermessage').valid && contactForm.get('usermessage').touched">
              <span *ngIf="contactForm.get('usermessage').errors['required']">This field is required!</span>
            </span>
        </div>
        <button [disabled]="!contactForm.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>
      <hr>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-sm-8 col-md-offset-2 text-left">
      <h3>Your Data</h3>
      <p>Username: {{ contactForm.value.username }}</p>
      <p>Email: {{ contactForm.value.useremail }}</p>
      <p>Message: {{ contactForm.value.usermessage }}</p>
    </div>
  </div>
</div> -->
<h4>Contact Me</h4>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Your Name:</label>
          <input type="text" id="username" class="form-control" [formControlName]="'username'">
          <span *ngIf="!contactForm.get('username').valid && contactForm.get('username').touched" class="help-block">
            <span *ngIf="contactForm.get('username').errors['required']">
              This field is required!
            </span>
            <span *ngIf="!contactForm.get('username').errors['required'] 
              && contactForm.get('username').errors['blankSpaces']">
              Empty spaces are not accepted.
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="useremail">Your Email:</label>
          <input type="email" id="useremail" class="form-control" [formControlName]="'useremail'">
          <span *ngIf="!contactForm.get('useremail').valid && contactForm.get('useremail').touched" class="help-block">
            <span *ngIf="contactForm.get('useremail').errors['required']">This field is required!</span>
            <span *ngIf="!contactForm.get('useremail').errors['required'] && contactForm.get('useremail').errors['email']">Invalid email!</span>
            <span *ngIf="contactForm.get('useremail').errors['emailBlackListed']">This email is Forbidden.</span>
          </span>
        </div>
        <div class="form-group">
          <label for="usermessage">Your Message:</label>
          <textarea type="text" id="usermessage" rows="5" class="form-control" [formControlName]="'usermessage'"></textarea>
          <span *ngIf="!contactForm.get('usermessage').valid && contactForm.get('usermessage').touched" class="help-block">
            <span *ngIf="contactForm.get('usermessage').errors['required']">This field is required!</span>
          </span>
        </div>
        <button [disabled]="!contactForm.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>
      <hr>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-sm-8 col-md-offset-2 text-left">
      <h3>Your Data</h3>
      <p>Username: {{ contactForm.value.username }}</p>
      <p>Email: {{ contactForm.value.useremail }}</p>
      <p>Message: {{ contactForm.value.usermessage }}</p>
    </div>
  </div>
</div>