<h4>Add a New Friends</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label for="inputName" class="col-sm-3 form-control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputName" #inputName>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-3 form-control-label">Email</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputEmail" #inputEmail>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputContact" class="col-sm-3 form-control-label">Contact No.</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputContact" #inputContact>
        </div>
      </div>
      <button type="Add" class="btn btn-success" (click)="onAddFriend(inputName,inputEmail,inputContact)">Add Friend</button>
    </div>
  </div>
</div>